* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #062330;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
  font-size: 175%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F88B0B;
  height: 50%;
}
header .titulo {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
header .logo {
  overflow: hidden;
  margin-top: 1%;
}
header nav {
  display: inline-block;
}
header nav {
  background-color: hsl(0, 0%, 0%);
  display: block;
  width: 100%;
  margin-top: -7px;
}
header nav .nav-link {
  color: aliceblue;
}
header nav .dropdown-menu {
  background-color: black;
  color: black;
}
header nav .dropdown-menu .menucae {
  background-color: black;
}
header nav .dropdown-menu .dropdown-item {
  background-color: black;
  color: white;
}

.barranav {
  margin-top: 3%;
}

main {
  background-color: #062330;
  size: 100px;
  padding: 100px;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 15em;
  min-height: 100vh;
}

.contenedoresinicio {
  display: flex;
  justify-content: center;
}

.Inicio {
  height: 100%;
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/fonfooferreteria.jpg);
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
  font-size: 175%;
}

.menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  text-decoration-color: white;
}

.usuarios {
  margin-top: 25px;
  margin-right: 25px;
}

.listaDeOfertas {
  color: white;
  margin-left: 50px;
  background-color: #062330;
  margin-top: 20px;
}

h2 {
  color: white;
  text-align: right;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-size: 1.5rem;
}

.ofertas {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fotos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: 15px;
  cursor: pointer;
}

.fotos div {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
}

.maps {
  margin-top: 25px;
  margin-left: 30px;
}

.formulario {
  display: flex;
  margin-top: 0px;
  color: white;
  margin-left: 30px;
  margin-top: 25px;
}

.boton {
  margin-top: 25px;
  margin-left: 65px;
}

.productos {
  margin-left: 25px;
  margin-top: 25px;
}

.div p {
  font-size: 20%;
}

.nombresP {
  text-align: center;
  text-decoration: none;
  padding: 5px;
  font-size: 1.5rem;
  color: white;
}

.imagenes {
  height: 300px;
  flex-wrap: wrap;
}

.preciosP {
  flex-direction: row;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  text-decoration: none;
}

.listaGeneral {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.botones {
  height: 30px;
  text-decoration: none;
  text-align: center;
  background-color: floralwhite;
}

.ofertas :hover {
  transform: scale(1.1);
  transition: 2s;
}

.listaGeneral :hover {
  transform: scale(1.1);
  transition: 2s;
}

.fotoscarrusel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 75px;
}

.fotos div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 26px;
}

.fototama {
  margin-top: 25px;
}

.itemcarrusel {
  display: flex;
  justify-content: center;
}

.division {
  background-color: black;
  margin-top: 55px;
  height: 55px;
  width: 400px;
}

.nombresinicio {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: black;
}

.imagenesinicio {
  height: 300px;
  margin-top: 25px;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  margin-top: 205px;
}

.fotosinicio {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 26px;
}

.fondopagina {
  height: 100vh;
  margin-top: 25px;
  width: 100%;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/pagina\ en\ mantenimiento.png);
}

.nombresinicioo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 50px;
}

.mantenimiento div {
  margin-top: 55px;
}

.itemcarrusel {
  display: flex;
  justify-content: center;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
}

.itemdentrocarru {
  display: flex;
  justify-content: center;
}

.carousel-item active {
  display: flex;
  justify-content: center;
  width: 500px;
}

@media (max-width: 500px) {
  .contenedoresinicio {
    flex-direction: column;
  }
  .imagenesinicio {
    height: 300px;
    margin-top: 25px;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: 205px;
  }
  .fotosinicio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 26px;
  }
  .fotoscarrusel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 75px;
  }
  footer {
    font-size: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F88B0B;
    width: 100%;
    text-align: center;
    padding-bottom: 5em;
  }
}
.imagenessanitarios {
  width: 80%;
  margin-top: 5%;
}

.imagenesmaquinas {
  width: 80%;
  margin-top: 5%;
}

.imagenescarruselnov {
  width: 60%;
  margin-top: 2%;
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.titulo {
  overflow: hidden;
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

iframe {
  width: 100%;
  height: 500px;
}

.imagenpuntoferre {
  background-color: #F88B0B;
  padding: 30px;
  color: white;
}

footer {
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F88B0B;
  width: 100%;
  text-align: center;
  padding-bottom: 5em;
}
footer .mail a {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  text-align: center;
  margin-top: 1%;
}
footer h4 {
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

/*# sourceMappingURL=estilos.css.map */
